p{
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-weight: bold;

}
.box1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
}
.box2 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: green;
}
.box3 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
}